<div class="place">
	<h2><%= @place.title %></h2> 

	<p>
		<span>Price <%= number_to_currency(@place.admission_price/100) %></span>
		<%= @place.description %>
	</p>

	<%= image_tag @place.photo_url %>

	<p>
		<%= link_to "EDIT", "/places/#{@place.id}/edit" %>
	</p>


</div>